@charset "UTF-8";
/* ============================================== */
/* Settings */
/* ============================================== */
/* ============================================== */
/* Include Core */
/* ============================================== */
/* ============================================== */
/* Mixins */
/* ============================================== */
/* ============================================== */
/* CSS Triangles Like Whoa! */
/* ============================================== */
/* ---------------------------------------------------------------------- */
/* MEDIA QUERIES
/* ---------------------------------------------------------------------- */
/* Breakpoints */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; height: 0; }

[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; }

body { margin: 0; }

a:focus { outline: thin dotted; }

a:active, a:hover { outline: 0; }

h1 { font-size: 2em; margin: 0.67em 0; }

h2 { font-size: 1.5em; margin: 0.83em 0; }

h3 { font-size: 1.17em; margin: 1em 0; }

h4 { font-size: 1em; margin: 1.33em 0; }

h5 { font-size: 0.83em; margin: 1.67em 0; }

h6 { font-size: 0.75em; margin: 2.33em 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

p, pre { margin: 1em 0; }

code, kbd, pre, samp { font-family: monospace, serif; _font-family: "courier new", monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }

q:before, q:after { content: ''; content: none; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

dl, menu, ol, ul { list-style-type: none; margin: 0; }

dd { margin: 0; }

menu, ol, ul { padding: 0; }

nav ul, nav ol { list-style: none; list-style-image: none; }

img { border: 0; -ms-interpolation-mode: bicubic; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }

fieldset { border: 1px solid silver; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; white-space: normal; *margin-left: -7px; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.row { width: 1180px; max-width: 100%; min-width: 768px; margin: 0 auto; }

.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }

.row.collapse .column, .row.collapse .columns { padding: 0; }

.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }

.row .row.collapse { margin: 0; }

.column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }

.column.centered, .columns.centered { float: none; margin: 0 auto; }

[class*="column"] + [class*="column"]:last-child { float: right; }

[class*="column"] + [class*="column"].end { float: left; }

.one, .row .one { width: 8.33333%; }

.two, .row .two { width: 16.66667%; }

.three, .row .three { width: 25%; }

.four, .row .four { width: 33.33333%; }

.five, .row .five { width: 41.66667%; }

.six, .row .six { width: 50%; }

.seven, .row .seven { width: 58.33333%; }

.eight, .row .eight { width: 66.66667%; }

.nine, .row .nine { width: 75%; }

.ten, .row .ten { width: 83.33333%; }

.eleven, .row .eleven { width: 91.66667%; }

.twelve, .row .twelve { width: 100%; }

.row .offset-by-one { margin-left: 8.33333%; }

.row .offset-by-two { margin-left: 16.66667%; }

.row .offset-by-three { margin-left: 25%; }

.row .offset-by-four { margin-left: 33.33333%; }

.row .offset-by-five { margin-left: 41.66667%; }

.row .offset-by-six { margin-left: 50%; }

.row .offset-by-seven { margin-left: 58.33333%; }

.row .offset-by-eight { margin-left: 66.66667%; }

.row .offset-by-nine { margin-left: 75%; }

.row .offset-by-ten { margin-left: 83.33333%; }

.push-two { left: 16.66667%; }

.pull-two { right: 16.66667%; }

.push-three { left: 25%; }

.pull-three { right: 25%; }

.push-four { left: 33.33333%; }

.pull-four { right: 33.33333%; }

.push-five { left: 41.66667%; }

.pull-five { right: 41.66667%; }

.push-six { left: 50%; }

.pull-six { right: 50%; }

.push-seven { left: 58.33333%; }

.pull-seven { right: 58.33333%; }

.push-eight { left: 66.66667%; }

.pull-eight { right: 66.66667%; }

.push-nine { left: 75%; }

.pull-nine { right: 75%; }

.push-ten { left: 83.33333%; }

.pull-ten { right: 83.33333%; }

img, object, embed { max-width: 100%; height: auto; }

object, embed { height: 100%; }

img { -ms-interpolation-mode: bicubic; }

#map_canvas img, .map_canvas img { max-width: none!important; }

/* ============================================== */
/* ROW CLEARFIX */
/* ============================================== */
.row { *zoom: 1; }

.row:before, .row:after { content: ""; display: table; }

.row:after { clear: both; }

/* ============================================== */
/* MEDIA QUERIES */
/* ============================================== */
@media only screen and (max-width: 768px) { body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
  .row { width: auto; min-width: 0; margin-left: 0; margin-right: 0; }
  .column, .columns { width: auto !important; float: none; }
  .column:last-child, .columns:last-child { float: none; }
  [class*="column"] + [class*="column"]:last-child { float: none; }
  .column:before, .columns:before, .column:after, .columns:after { content: ""; display: table; }
  .column:after, .columns:after { clear: both; }
  .offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten { margin-left: 0 !important; }
  .push-two, .push-three, .push-four, .push-five, .push-six, .push-seven, .push-eight, .push-nine, .push-ten { left: auto; }
  .pull-two, .pull-three, .pull-four, .pull-five, .pull-six, .pull-seven, .pull-eight, .pull-nine, .pull-ten { right: auto; }
  /* Mobile 4-column Grid */
  .row .mobile-one { width: 25% !important; float: left; padding: 0 15px; }
  .row .mobile-one:last-child { float: right; }
  .row.collapse .mobile-one { padding: 0; }
  .row .mobile-two { width: 50% !important; float: left; padding: 0 15px; }
  .row .mobile-two:last-child { float: right; }
  .row.collapse .mobile-two { padding: 0; }
  .row .mobile-three { width: 75% !important; float: left; padding: 0 15px; }
  .row .mobile-three:last-child { float: right; }
  .row.collapse .mobile-three { padding: 0; }
  .row .mobile-four { width: 100% !important; float: left; padding: 0 15px; }
  .row .mobile-four:last-child { float: right; }
  .row.collapse .mobile-four { padding: 0; }
  .push-one-mobile { left: 25%; }
  .pull-one-mobile { right: 25%; }
  .push-two-mobile { left: 50%; }
  .pull-two-mobile { right: 50%; }
  .push-three-mobile { left: 75%; }
  .pull-three-mobile { right: 75%; } }
/* ============================================== */
/* Elements */
/* ============================================== */
html { overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: 600; }

p { margin: 0; padding: 0; }

a, a > span { -webkit-transition: all 200ms ease-in; -moz-transition: all 200ms ease-in; -o-transition: all 200ms ease-in; transition: all 200ms ease-in; }

.sep { display: inline-block; width: 50%; height: 1px; margin: 10px 0; border: none; border-top: 1px solid white; border-top: 1px solid rgba(255, 255, 255, 0.5); }

blockquote { position: absolute; bottom: 0; margin: 0; padding: 15px; background: rgba(0, 0, 0, 0.4); text-align: left; font-style: italic; font-weight: 300; font-size: 16px; line-height: 150%; }
blockquote .byline { text-transform: uppercase; font-style: normal; font-weight: bold; }
@media (max-width: 560px) { blockquote { display: none; } }

h3 { margin: 0 0 20px 0; line-height: 95%; font-size: 40px; }
@media (max-width: 560px) { h3 { font-size: 32px; } }

.button { display: inline-block; padding: 10px 60px; background: #ef6623; color: white; font-family: "Source Sans Pro", sans-serif; font-size: 20px; font-weight: 600; text-decoration: none; text-shadow: 0 1px 1px #a03c0c; border: none; outline: none; border-bottom: 3px solid #c64b0e; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ef6623), color-stop(100%, #f1773b)); background-image: -webkit-linear-gradient(bottom, #ef6623, #f1773b); background-image: -moz-linear-gradient(bottom, #ef6623, #f1773b); background-image: -o-linear-gradient(bottom, #ef6623, #f1773b); background-image: linear-gradient(bottom, #ef6623, #f1773b); -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 0 3px #999999; -moz-box-shadow: 0 0 3px #999999; box-shadow: 0 0 3px #999999; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }
.button:hover { background: #f1773b; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ef6623), color-stop(100%, #f28753)); background-image: -webkit-linear-gradient(bottom, #ef6623, #f28753); background-image: -moz-linear-gradient(bottom, #ef6623, #f28753); background-image: -o-linear-gradient(bottom, #ef6623, #f28753); background-image: linear-gradient(bottom, #ef6623, #f28753); }
.button.large { padding: 12px 60px; font-size: 32px; font-weight: 300; }

/* ============================================== */
/* Layout */
/* ============================================== */
body { font-size: 100%; font-family: "Source Sans Pro", sans-serif; color: #555555; }

#micro-header { display: block; position: fixed; top: 0; left: 0; width: 100%; padding: 15px 0; background: #fff; *zoom: 1; -webkit-box-shadow: 0 1px 1px #333333; -moz-box-shadow: 0 1px 1px #333333; box-shadow: 0 1px 1px #333333; -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); z-index: 5; }
#micro-header:before, #micro-header:after { content: ""; display: table; }
#micro-header:after { clear: both; }
#micro-header .treater-logo { float: left; }
#micro-header .treater-logo img { height: 30px; width: auto; }
#micro-header .button.small { float: right; padding: 5px 30px; font-size: 16px; font-weight: 400; }
#micro-header.byebye { top: -75px; }

header { padding: 30px 0; background: white; *zoom: 1; }
header:before, header:after { content: ""; display: table; }
header:after { clear: both; }
header a { display: inline; }
header img { width: 200px; height: auto; margin-bottom: 0; }
header .button { float: right; }
@media (max-width: 560px) { header { padding: 15px 0 5px 0; }
  header a { float: left; margin-top: 10px; width: 32%; display: block; text-align: center; }
  header a img { margin-bottom: 15px; }
  header .button { margin-top: 0; width: 50%; padding: 5px; display: block; text-align: center; } }

#hero { background: #89bb00; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #739c00), color-stop(70%, #89bb00), color-stop(70%, #89bb00)); background-image: -webkit-linear-gradient(left, #739c00, #89bb00 70%, #89bb00 70%); background-image: -moz-linear-gradient(left, #739c00, #89bb00 70%, #89bb00 70%); background-image: -o-linear-gradient(left, #739c00, #89bb00 70%, #89bb00 70%); background-image: linear-gradient(left, #739c00, #89bb00 70%, #89bb00 70%); color: white; }
#hero .hero-image { padding: 60px 0; background: url(../images/layout/hero-customer-image.jpg) top right no-repeat; }
#hero .hero-image h1 { margin-top: 60px; font-style: italic; font-size: 42px; font-weight: 600; text-shadow: 0 1px 1px #648800; line-height: 110%; }
#hero .hero-image h1 span { display: block; font-size: 28px; font-weight: 300; line-height: 100%; }
@media (max-width: 1024px) { #hero .hero-image { min-height: 350px; background-position: left top; background-size: 100%; }
  #hero .hero-image .columns { width: 100%; }
  #hero .hero-image h1 { margin-top: 120px; margin-left: -15px; padding: 15px 30px 25px 30px; background: rgba(141, 186, 19, 0.9); color: #fff; } }
@media (max-width: 560px) { #hero .hero-image { padding-top: 20px; min-height: 450px; background-size: 100%; background-position: bottom left; }
  #hero .hero-image h1 { background: none; margin-top: auto; line-height: 100%; }
  #hero .hero-image h1 span { margin-top: 10px; line-height: 100%; } }
@media (min-width: 1025px) { #hero .hero-image { height: 320px; } }

#featured { padding: 40px 0 36px 0; background: #f7f7f7; border-bottom: 1px solid #eaeaea; }
@media (min-width: 769px) { #featured .ribbon { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; width: 128px; height: 127px; background: url(../images/layout/ribbon-featured-in.png) 0 0 no-repeat; position: absolute; top: -48px; left: -34px; } }
@media (max-width: 768px) { #featured .ribbon { display: block; text-align: center; text-transform: uppercase; font-size: 18px; font-weight: 400; padding-bottom: 10px; margin-bottom: 15px; border-bottom: 1px solid #d8d8d8; } }
#featured .featured-logos { width: 100%; text-align: center; }
#featured .featured-logos li { display: inline; margin: 0 12px; }
@media (max-width: 1200px) { #featured .featured-logos li { margin: 0 5px; } }

#goals { text-align: center; }
#goals .goal { padding-top: 60px; padding-bottom: 60px; border-left: 1px solid #eaeaea; }
#goals .goal:first-child { border-left: none; }
@media (max-width: 768px) { #goals .goal { padding-top: 25px; padding-bottom: 25px; text-align: left; border-bottom: 1px solid #eaeaea; }
  #goals .goal img { float: left; margin: 0 15px 0 0; }
  #goals .goal h2 { font-size: 24px; } }
@media (max-width: 560px) { #goals .goal { padding-top: 25px; padding-bottom: 25px; border: none; border-bottom: 1px solid #eaeaea; }
  #goals .goal img { margin-top: 10px; width: 25%; }
  #goals .goal h2 { margin: 0; font-size: 18px; }
  #goals .goal h2 br { display: none; } }
#goals h2 { padding: 15px 50px; color: #555555; font-size: 20px; font-weight: 300; }

#social { position: relative; height: 500px; padding: 60px 0; background: #ef6623; color: white; }
@media (max-width: 768px) { #social { height: auto; padding-bottom: 0; } }
#social .shopping-woman { position: absolute; top: 0; right: 0; height: 100%; width: 50%; max-width: 680px; background: url(../images/layout/lady-shopping.jpg) top left no-repeat; }
@media (max-width: 1024px) { #social .shopping-woman { background-position: top right; } }
#social .shopping-woman .chat { margin-top: 50px; width: 70%; padding: 25px; }
#social .shopping-woman .chat .message { position: relative; display: block; padding: 15px; margin-bottom: 15px; background: #fff; background: rgba(255, 255, 255, 0.9); color: #555555; font-size: 16px; line-height: 22px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
#social .shopping-woman .chat .message span { color: #89bb00; }
@media (max-width: 768px) { #social .shopping-woman { margin-top: 30px; width: 100%; position: relative; height: 500px; left: 0; right: auto; background-size: 100%; max-width: inherit; } }
@media (max-width: 560px) { #social .shopping-woman { height: 300px; } }
@media (max-width: 400px) { #social .shopping-woman { height: 350px; background-position: bottom left; }
  #social .shopping-woman .chat { margin-top: 0; } }

#acquire { position: relative; min-height: 500px; padding: 60px 0; background: white; }
#acquire li:before { color: #999; }
#acquire .heads { position: relative; margin-left: 30px; height: 380px; }
@media (max-width: 768px) { #acquire .heads { margin-left: 0; } }
@media (max-width: 560px) { #acquire .heads { margin-left: -30px; overflow: hidden; } }
#acquire .circle-head { position: absolute; top: 50%; left: 50%; display: inline-block; overflow: hidden; -webkit-border-radius: 150px; -moz-border-radius: 150px; -ms-border-radius: 150px; -o-border-radius: 150px; border-radius: 150px; }
#acquire .circle-head img { width: 100%; -webkit-border-radius: 150px; -moz-border-radius: 150px; -ms-border-radius: 150px; -o-border-radius: 150px; border-radius: 150px; }
#acquire .circle-head.no-border { border: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
#acquire #circlehead_1.static { top: 20px; left: 100px; width: 50px; height: 50px; opacity: .5; }
#acquire #circlehead_2.static { top: 35px; left: 165px; width: 80px; height: 80px; opacity: .6; }
#acquire #circlehead_3.static { top: 140px; left: 0; width: 60px; height: 60px; opacity: .6; }
#acquire #circlehead_4.static { top: 125px; left: 100px; width: 80px; height: 80px; opacity: .3; }
#acquire #circlehead_5.static { top: 215px; left: 50px; width: 45px; height: 45px; opacity: .3; }
#acquire #circlehead_6.static { top: 220px; left: 250px; width: 80px; height: 80px; opacity: .5; }
#acquire #circlehead_7.static { top: 130px; left: 320px; width: 70px; height: 70px; opacity: .2; }
#acquire #circlehead_8.static { top: 80px; left: 375px; width: 50px; height: 50px; opacity: .3; }
#acquire #circlehead_9.static { top: 20px; left: 20px; width: 110px; height: 110px; }
#acquire #circlehead_10.static { top: 0px; left: 280px; width: 100px; height: 100px; }
#acquire #circlehead_11.static { top: 100px; left: 185px; width: 120px; height: 120px; }
#acquire #circlehead_12.static { top: 235px; left: 60px; width: 100px; height: 100px; }
#acquire #circlehead_13.static { top: 150px; left: 350px; width: 105px; height: 105px; }

#reward { position: relative; min-height: 500px; padding: 60px 0; background: #89bb00; color: white; }
@media (max-width: 768px) { #reward { padding-bottom: 0; } }
#reward .email { position: absolute; right: 0; bottom: 0; height: 100%; width: 50%; max-width: 646px; background: url(../images/layout/email-screen.png) bottom left no-repeat; background-size: 100%; }
@media (max-width: 768px) { #reward .email { margin-top: 30px; width: 100%; position: relative; height: 570px; left: 0; right: auto; background-size: 100%; max-width: inherit; background-position: bottom left; } }
@media (max-width: 560px) { #reward .email { height: 350px; background-position: top left; } }
@media (max-width: 400px) { #reward .email { height: 235px; background-position: bottom left; } }

#testimonials { padding: 60px 0 20px 0; background: #40494f; color: white; }
#testimonials h3 { font-size: 66px; font-weight: 300; font-style: italic; text-transform: lowercase; line-height: 65%; }
#testimonials h3 span { display: block; padding-left: .41em; }
@media (max-width: 768px) { #testimonials h3 { font-size: 48px; } }
#testimonials .column, #testimonials .columns { margin-bottom: 50px; }
#testimonials .quote { position: relative; padding: 25px; background: #4b565d; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
#testimonials .quote#internet-retailer { margin-top: 0; }
#testimonials .quote:after { content: ""; width: 0; height: 0; border: 16px solid transparent; position: absolute; border-top: 16px solid #4b565d; bottom: -32px; left: 100px; }
#testimonials .quote p { line-height: 130%; font-weight: 300; font-size: 22px; }
#testimonials .quote .byline { display: block; margin: 10px 0 0 0; text-transform: uppercase; font-size: 16px; font-weight: 600; font-style: normal; }
#testimonials .quote .attribution { position: absolute; }
@media (max-width: 768px) { #testimonials .quote { margin-bottom: 30px; } }
#testimonials #internet-retailer .attribution { width: 130px; height: 55px; bottom: -65px; left: auto; right: 0; background: url(../images/logos/internet-retailer-dark.png) 0 0 no-repeat; }
#testimonials #internet-retailer:after { left: auto; right: 150px; }
#testimonials #facebook .attribution { bottom: -55px; width: 40px; height: 40px; background: url(../images/layout/icon-facebook-quote.png) 0 0 no-repeat; }
@media (max-width: 768px) { #testimonials #twitter { margin-bottom: 60px; } }
#testimonials #twitter .attribution { color: #00aced; bottom: -50px; font-size: 32px; }
#testimonials #tnw .attribution { width: 134px; height: 57px; bottom: auto; left: auto; top: -75px; right: 10px; background: url(../images/logos/tnw-light-text.png) 0 0 no-repeat; }
#testimonials #tnw:after { content: ""; width: 0; height: 0; border: 16px solid transparent; position: absolute; border-bottom: 16px solid #4b565d; bottom: auto; left: auto; top: -32px; right: 160px; }

.arrow-list { margin-left: 15px; }
.arrow-list li { position: relative; padding: 5px 0; font-size: 18px; font-weight: 300; }
.arrow-list li:before { content: "\e800"; position: absolute; top: 9px; left: -15px; font-size: 15px; font-family: 'fontello'; }

#contact { padding: 80px 0 120px 0; background: #31add1; color: #fff; text-align: center; -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.15); -moz-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.15); box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.15); }
#contact h3 { display: block; margin-bottom: 15px; font-size: 60px; font-weight: 300; }
#contact h3 span { display: block; font-size: 32px; }
#contact .button { margin-top: 25px; }
@media (max-width: 768px) { #contact { padding: 50px 0 70px 0; }
  #contact h3 { font-size: 48px; }
  #contact h3 span { font-size: 24px; } }

footer { padding: 30px 0 60px 0; }
footer .treater-logo { display: inline; }
footer .treater-logo img { width: 150px; }
footer .nav { margin: 20px 0 0 0; *zoom: 1; }
footer .nav:before, footer .nav:after { content: ""; display: table; }
footer .nav:after { clear: both; }
footer .nav li { display: inline-block; margin: 0 15px 0 0; }
@media (max-width: 560px) { footer .nav li { display: block; margin: 0; border-bottom: 1px dotted #eaeaea; }
  footer .nav li a { padding: 5px 0; } }
footer .nav a { display: inline-block; color: #555555; text-decoration: none; font-size: 16px; font-weight: 400; }
footer .nav a:hover { color: #89bb00; }
footer .nav.sub-links { margin-top: 5px; }
footer .nav.sub-links a { color: #999; font-size: 14px; }
footer .nav.sub-links a:hover { color: #89bb00; }
footer .social-icons { display: inline-block; margin: 5px 0 0 8px; padding: 5px 0 0 8px; border-left: 1px solid #eaeaea; }
footer .social-icons li { margin: 0; padding: 0; float: left; }
footer .social-icons li a { display: block; font-size: 30px; text-decoration: none; }
footer .social-icons li .icon-twitter-circled { color: #4dbcee; }
footer .social-icons li .icon-twitter-circled:hover { color: #1eaaea; }
footer .social-icons li .icon-facebook-circled { color: #3770b6; }
footer .social-icons li .icon-facebook-circled:hover { color: #2b588f; }
footer .store-buttons { *zoom: 1; text-align: right; }
footer .store-buttons:before, footer .store-buttons:after { content: ""; display: table; }
footer .store-buttons:after { clear: both; }
footer .store-buttons a { display: inline-block; margin: 0 0 0 10px; }
footer .store-buttons a:last-child img { margin-top: 5px; }
@media (max-width: 768px) { footer .store-buttons { margin-top: 15px; text-align: left; }
  footer .store-buttons a { margin: 0 10px 0 0; } }

/* ============================================== */
/* Overlay Items */
/* ============================================== */
#ui-overlay { display: none; position: fixed; top: 0; left: 0; height: 100%; width: 100%; background: #fff; z-index: 10; }

.ui-close-modal { position: absolute; top: 6px; right: 3px; font-size: 24px; color: #627079; text-decoration: none; }
.ui-close-modal:hover { color: #40494f; }

#ui-modal { display: none; position: absolute; width: 700px; top: 150px; left: 50%; margin-left: -350px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 0 250px #999999; -moz-box-shadow: 0 0 250px #999999; box-shadow: 0 0 250px #999999; -webkit-box-shadow: 0 0 150px rgba(56, 64, 33, 0.75); -moz-box-shadow: 0 0 150px rgba(56, 64, 33, 0.75); box-shadow: 0 0 150px rgba(56, 64, 33, 0.75); z-index: 15; }
@media (max-width: 768px) { #ui-modal { width: 96%; left: 50%; margin-left: -48%; }
  #ui-modal li { margin-bottom: 0; }
  #ui-modal li input, #ui-modal li select { margin-bottom: 10px; }
  #ui-modal input.button { width: 100%; } }
#ui-modal h4 { margin-bottom: 2px; font-size: 32px; font-weight: 400; color: #89bb00; }
#ui-modal p { font-size: 18px; font-weight: 400; color: #555555; }
#ui-modal .header { padding: 30px; background: #fff; border-bottom: 1px solid #eaeaea; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }
#ui-modal .content { padding: 15px 15px 50px 15px; background: #f7f7f7; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -ms-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; }
#ui-modal .row { min-width: inherit; }
#ui-modal input.button { margin-top: 10px; }

.ui-form li { margin-bottom: 15px; }
.ui-form label { display: block; font-size: 16px; font-weight: 400; color: #555555; padding-bottom: 5px; }
.ui-form input[type="text"], .ui-form input[type="email"], .ui-form input[type="phone"] { width: 100%; padding: 5px; border: 1px solid #d8d8d8; outline: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; font-family: "Source Sans Pro", sans-serif; font-size: 18px; font-weight: 400; }
.ui-form input[type="text"]:active, .ui-form input[type="text"]:focus, .ui-form input[type="email"]:active, .ui-form input[type="email"]:focus, .ui-form input[type="phone"]:active, .ui-form input[type="phone"]:focus { border: 1px solid #89bb00; -webkit-box-shadow: 0 0 3px #89bb00; -moz-box-shadow: 0 0 3px #89bb00; box-shadow: 0 0 3px #89bb00; }
.ui-form select { width: 100%; padding: 4px 6px; font-family: "Source Sans Pro", sans-serif; font-size: 16px; color: #555555; vertical-align: middle; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background-color: #ffffff; height: 36px; line-height: 36px; border: 1px solid #d8d8d8; -webkit-transition: border, box-shadow 250ms ease-in; -moz-transition: border, box-shadow 250ms ease-in; -o-transition: border, box-shadow 250ms ease-in; transition: border, box-shadow 250ms ease-in; }
.ui-form select:active, .ui-form select:focus { outline: none; border: 1px solid #89bb00; -webkit-box-shadow: 0 0 3px #89bb00; -moz-box-shadow: 0 0 3px #89bb00; box-shadow: 0 0 3px #89bb00; }
.ui-form label.error { color: #ef6623; font-size: 14px; margin-top: 5px; }

#thank-you { display: none; padding: 50px; text-align: center; }
#thank-you h2 { margin-bottom: 15px; color: #ef6623; }
#thank-you p { font-size: 18px; line-height: 150%; }

/* ============================================== */
/* Let's fix IE! */
/* ============================================== */
.lt-ie9 .row { width: 1080px; max-width: 1080px; min-width: 1080px; }
.lt-ie9 #hero .hero-image { height: 300px; }
.lt-ie9 #hero h1 { margin-top: 30px; }
.lt-ie9 .ribbon { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; width: 128px; height: 127px; background: url(../images/layout/ribbon-featured-in.png) 0 0 no-repeat; position: absolute; top: -48px; left: -34px; }
.lt-ie9 #social blockquote { background: #40494f; }
.lt-ie9 #acquire, .lt-ie9 #reward { min-height: auto; height: 500px; }
.lt-ie9 .featured-logos li { margin: 0 5px !important; }
.lt-ie9 #ui-modal { border: 3px solid #eaeaea; }
.lt-ie9 #ui-modal .row { width: 100%; }
